_ReSharper*
[Bb]in/
obj/
objd/
out/
tmp/
Debug/
App_Data
*.user
*.sln.cache
*.userosscache
*.suo
TestResults
[Tt]humbs.db
buildd.log
buildd.evt
buildd.dbb
buildd.prf
buildd.trc*
buildd.err
buildd.wrn
build.log
build.evt
build.prf
build.dbb
build.trc*
build.err
build.wrn
*.log
*.bak
build_logs/
lock
*.projhash*
*.slnhash*

# bad tlb/chm generators in nmake tree
*.tlb
*.chm

.vscode/
.vs/
.nuget/
*.opendb
*.db
